div#header {
  width: 100%
  position: absolute;
  top: 0;
  left: 0;
  background-color: #990000;
}

div#header h2 {
  font-family: "New Times Roman", Geneva, sans-serif;
  font-weight: 900;
  text-align: center;
  color: white;
  font-size: 2em;
  padding: .75em;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: lightgrey;
  text-align: center;
}
